<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>homepage</title>
</head>

<body>
    <%- include('./partials/nav') %>


        <% if (locals.user) { %>
            <!-- <div class="container " style="margin-top: 30px;"> -->
                <div class="container text-center">
                    <div class="row row-cols-2">
            <% blogs.forEach(blog=> { %>

                <div class="card mb-3 col" style="max-width: 540px; margin-right: 50px;
                margin-top: 50px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="<%= blog.coverimageurl %>" class="img-fluid rounded-start" style="object-fit: contain;" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= blog.title %>
                                </h5>
                                
                                <p class="card-text"><small class="text-body-secondary"><%= `updated at ${blog. updatedAt}` %></small>
                                </p>
                                <a href="<%= `/blog/${blog._id}` %>" class="btn btn-primary">View Blog</a>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>
                </div>
            </div>
                    <% } %>

                        <%- include('./partials/script') %>
</body>

</html>